head {


}
body {


}
.menu {
    background-color: white;
    height: 120px;
    width: auto;
    border: 3px grey;
}

.menu a {
    float: right;
    display: block;
    text-align: center;
    padding: 20px 16px;
    text-size: 20px;
}
.menu a:hover {
    background-color: white;
    color: black;
}








p {
    color: blue;
}
