head {


}
body {


}
.menu {
    background-color: white;
    height: 120px;
    width: auto;
    border-bottom: 1px solid grey;
}

.menu a {
    float: right;
    display: block;
    color: black;
    text-align: bottom;
    padding: 20px 16px;
    decoration: none;
    text-size: 20px;
}
.menu a:hover {
    background-color: white;
    color: black;
}









p {
    color: blue;
}
