body {
    background-image: url(wood.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.Tim {
            background-color: #808080;
            color: #FFFAFA;
             padding: 20px;
           }

h1 {
    color:dodgerblue;

}
a:link {
    color: Aquamarine;
    background-color: transparent;
    text-decoration: none;

}
a:visited{
    color: aqua;
    background-color: transparent;
    text-decoration: none;

}
p {
    color: snow;

}
p2 {
    color: black;

}